.item-preview {
	background: $clr-white;
	border-radius: 0.5rem;
	box-shadow: 0 0px 8px rgba(0, 0, 0, 0.058);
	transition: 0.25s;

	.item-preview-content {
		padding: 0.5rem 1rem 1rem;

		h2 {
			transition: 0.25s;
			font-size: rem(25px);
			padding-bottom: 0.4rem;
			margin-bottom: 0.4rem;
			border-bottom: 1px solid $bg-primary;
			@include fontType(bold);
		}

		p {
			font-size: rem(15px);
			color: $text-secondary;
			margin-top: 0.5rem;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			overflow: hidden;
			text-overflow: ellipsis;
			height: 3em;
			line-height: 1.5em;
		}
	}

	.img-container {
		@include aspect-ratio(1, 1);

		border-top-left-radius: 0.5rem;
		border-top-right-radius: 0.5rem;

		img {
			transition: 0.35s;
		}
	}

	&.active {
		border: 2px solid $clr-brand;
		box-shadow: 0 0px 8px rgba(0, 0, 0, 0.553);
		background-color: $bg-secondary;

		.item-preview-content {
			h2,
			p {
				color: $clr-white;
			}
		}
	}

	&:not(.active):hover {
		box-shadow: 0 0px 8px rgba(0, 0, 0, 0.185);

		.item-preview-content {
			h2 {
				color: $clr-brand;
				border-bottom: 1px solid $clr-brand;
			}
		}
		img {
			transform: scale(1.1);
		}
	}
}
