// COLOR PALETTE
$clr-brand: #0046ff;
$clr-black: #202326;
$clr-white: #fff;

$text-primary: #37446f;
$text-secondary: #8087a6;

$bg-primary: #eff3fb;
$bg-secondary: #4e74ff;
$bg-transition: linear-gradient(#eff3fb, #eff3fb 56%, #fff), linear-gradient(254deg, #eff3fb, #eff3fb 56%, #fff);

// LAYOUT
$top-padding: 90px;
$bottom-padding: 45px;
$layout-padding: 40px;
$max-layout-width: 1600px;

// LAYOUT BREAKPOINTS
$break-narrow: 780px;
$break-normal: 1200px;
$break-wide: 1920px;

$padded-break-narrow: $break-narrow + $layout-padding * 2;
$padded-break-normal: $break-normal + $layout-padding * 2;
$padded-break-wide: $break-wide + $layout-padding * 2;
